.chrome-app-item {
  z-index: 1000;
}

img.chrome-app-item {
  vertical-align: middle;
}

div.chrome-app-item {
  margin-left: 3%;
  border: 2px solid silver;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
}

div.chrome-app-item.edit {
  padding: 1.5px 10px;
}

div.chrome-app-item.delete {
  height: 26.938px;
  width: 37px;
  text-align: center;
}

input.chrome-app-item {
  margin-left: 3%;
}

span.chrome-app-item {
  line-height: 25px;
  color: firebrick;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  opacity: .85;
}
